node_modules
apps/*/package-lock.json
apps/*/yarn.lock
apps/*/pnpm-lock.yaml
apps/*/npm-shrinkwrap.json
.turbo
.next
dist
build
# dotenv environment variable files
.env
.env.local
.env.*.local
.env.dev
*.log
.DS_Store
coverage
.idea
.vscode
apps/frontend/test-results/*
apps/frontend/storybook-static/

*.tsbuildinfo
