node_modules
apps/*/package-lock.json
apps/*/yarn.lock
apps/*/pnpm-lock.yaml
apps/*/npm-shrinkwrap.json
.turbo
.next
dist
build
.env
.env.local
*.log
.DS_Store
coverage
.idea
.vscode
apps/frontend/test-results/*

*.tsbuildinfo
